
.thumb-nail-container {
    justify-content: center;
  }
  
  .thumb-nail-image {
    padding: 0.25rem;
    border-radius: 30px;
    background-size: contain;
  }
  
  .thumb-nail-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  