.app {
  display: flex;
  flex-direction: column;
}

.app-store-container {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
}

.app-store-header {
  /* color: automatic; */
  text-align: center;
  font-size: 50px;
  margin: 2% 4%;
  font-family: cursive;
  padding: 0.5rem;
}

.applciation-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding-bottom: 2rem;
}

.application-list-Link {
  /* flex: 1 0 15%; */
  padding: 2rem;
  margin: 5px;
}

.app-tab-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.tablinks {
  cursor: pointer;
  height: 50px;
  font-size: 25px;
  align-items: stretch;
  flex: 0 1 50%;
  text-align: center;
  font-weight: 50px;
  line-height: 40px;
  border-left: 1px solid black;
}

.tablinks:hover {
  background-color: #ddd;
  border: 1px solid black;
}

.tablinks:click {
  background-color: #ccc;
}

.tabLinkClicked {
  background-color: #ccc !important;
  align-self: stretch;
}
