.app-store-container {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
}

.app-store-header {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-size: 50px;
  margin: 2% 4%;
  padding: 0.5rem;
}

.applciation-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding-bottom: 2rem;
}

.application-list-Link {
  /* flex: 1 0 15%; */
  margin: 5px;
}
