.category-container-title {
    margin: 5px;
    padding: 0.5rem;
    border-radius: 30px;
    width: fit-content;
    font-size: 25px;
}

.category-container-wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
